<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=MedievalSharp&display=swap" rel="stylesheet">
    {% include floating-footer-style.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include topnav.html %}
    {% include hero.html %}

    <div class="layout-wrapper">
      {% include sidebar.html %}
      <div class="container">
        <main>
          {{ content }}
        </main>
      </div>
    </div>

    {% include floating-footer.html %}
  </body>
</html>
